@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

.product-preview {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;

    .preview-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1em;

        .description {
            display: flex;
            justify-content: center;
            font-family: 'Noto Serif', serif;
            font-weight: 100;
            font-size: 18px;
            word-wrap: break-word;
        }
        
        .description-list {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 3em 8em 0;

            .description-list-container {
                clear: both;
                display: block;
                margin-bottom: 8px;
                min-height: 20px;

                dt, dd { 
                    float: left;
                }

                dt { 
                    clear: both;
                }

                dd {
                    font-size: 0.9em;
                    margin-left: 0.5em;
                    color: gray
                }
            }   
        }
    }
}