.sign-in {
    display: flex;
    flex-direction: column;
    width: 380px;
    max-width: 480px;

    .title {
        margin: 10px 0px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }
}