$arrow-size: 5em;
$arrow-x-pos: 0;

.carousel-container {
    position: relative;
    width: 70vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em;

    .image-wrapper {
        max-width: 1000px;
        border: 1px solid black;
        overflow: hidden;
        display: flex;
        align-items: center;

        &.slide {
            opacity: 0;
            transition-duration: 1s ease-in-out;

            &.active {
                opacity: 1;
                transition-duration: 2s;
                transform: scale(1);
            }
        }   
        .image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .arrow {
        position: absolute;
        top: 45%;
        font-size: $arrow-size;
        color: black;
        z-index: 10;
        user-select: none;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        &.left-arrow {
            left: $arrow-x-pos;
        }
    
        &.right-arrow {
            right: $arrow-x-pos;
        }
    }
}