@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

$max-img-width: 930px;
$max-img-height: 600px;

$image-rotation: 2.1deg;
$arrow-size: 5em;
$arrow-x-pos: 5%;

.carousel-container {
    position: relative;
    width: 100vw;
    height: 75vh;
    margin-bottom: 3em;
    background-color: #9e88b2;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    
    .image-wrapper {
        font-family: 'Rock Salt', cursive;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        background-color: whitesmoke;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
        overflow: hidden;

        max-width: $max-img-width;
        padding: 20px;
        transition: 1s ease;


        &:nth-child(even) {
            transform: rotate(-$image-rotation);
        }

        &:nth-child(odd) {
            transform: rotate($image-rotation);
        }
        &:hover {
            transform: scale(1.05);
        }

        .image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-height: $max-img-height;
            max-width: $max-img-width;
        }

        .caption {
            margin-top: 1em;
            word-wrap: break-word;
        }
    }

    .arrow {
        position: absolute;
        top: 45%;
        font-size: $arrow-size;
        color: black;
        z-index: 10;
        user-select: none;
        cursor: pointer;
        opacity: 0.8;
        border-radius: 50%;

        &:hover {
            transition: ease 1s;
            opacity: 1;
            color: white;
            background-color: rgba(0,0,0,0.6);
        }

        &.left-arrow {
            left: $arrow-x-pos;
        }
    
        &.right-arrow {
            right: $arrow-x-pos;
        }

        &.show {
            display: inline-block;
        }
        &.hide {
            display: none;
        }
    }
}

// Mobile responsive
@media (max-width: 1000px) {
    .carousel-container {
        width: 80vw;
    }
}
// @media screen and (max-width: 1000px) {
//     .image-wrapper {

//         &.slide {
//             opacity: 0;
//             transition-duration: 1s ease-in-out;
        
//             &.active {
//                 opacity: 1;
//                 transition-duration: 2s;
//                 transform: scale(1.10);
                
//                 .image {
//                     opacity: 1;
//                 }
//             }
//         }
//         .image {
//             opacity: 0;
//         }
//     }
// }

// {idx === imgIndex && (
//     <img className="image" src={image.url} alt={image.description} />
// )}