.option-link {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    cursor: pointer;

    .underline {
        display: none;
    }

    &:hover {
        .underline {
            display: inline-block;
            width: 100%;
            border-bottom: 2px solid black;
        }
    }
}