$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -20px;
  font-size: 13px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-textarea {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: 1px solid $sub-color;
    border-radius: 0;
    margin: 55px 0;
    min-height: 220px;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-textarea-label {
      @include shrinkLabel();
    }
  }

  .form-textarea-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
