.checkout-page {
  position: relative;
  width: 90%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 50px auto 50px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 3em;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    font-size: 36px;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }

  .checkout-payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .test-warning {
      text-align: center;
      margin: 20px;
      font-size: 1.3em;
      color: red;
    }

    button {
      margin-left: auto;
      margin-top: 20px;
    }
  }
}
