.checkout-page {
  width: 65%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  background-color: white;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 3em;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  .checkout-payment {
    display: flex;
    flex-direction: column;

    .test-warning {
      text-align: center;
      margin: 20px;
      font-size: 1.3em;
      color: red;
    }

    button {
      margin-left: auto;
      margin-top: 20px;
    }
  }
}
