.checkout-item {
  position: relative;
  width: 100%;
  min-height: 250px;;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  display: grid;
  grid-template-columns: 0.5fr 1.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 30px;
  grid-auto-flow: column dense;
  grid-template-areas:
    "image-container ."
    "image-container .";

  .image-container {
    grid-area: image-container;
    width: 100%;

    img {
      width: 100%;
      height: 100%;

      max-width: 300px;
      max-height: 250px;
    }
  }

  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .price {
      font-size: 0.95em;
      color: rgba($color: #000000, $alpha: 0.75);
      margin-bottom: 10px;
    }

    .product-detail-1 {
      font-size: 0.90em;
      color: rgba($color: #000000, $alpha: 0.65);
    }

    span {
      margin: 4px 0 4px;
      width: 100%;
    }
  }

  .item-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;

    .quantity {
      display: flex;
      margin: 10px;
      
      .arrow {
        cursor: pointer;
        user-select: none;
      }
  
      .value {
        margin: 0px 10px;
      }
    }
  }

  .remove-button {
    position: absolute;
    top: 0;
    right: 14px;
    cursor: pointer;
    margin-top: 15px;
    transition: all ease 400ms;
  
    &:hover {
      transform: scale(1.5);  
    }
  }
}
