$inverse-color: white;
$sub-color: #e4e4e4;
$main-color: black;

.footer-container {
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 12rem;
    
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 26px 16px 20px;
        background-color: $sub-color;

        &.inverse {
            background-color: $inverse-color;
        }

        .social-icon-container {
            display: flex;
            justify-content: space-evenly;
            padding: 0px;
            margin: 10px;
            width: 200px;
            height: auto;

            .social-icon {
                &:hover {
                    filter: brightness(110%);
                }
            }
        }
    
        .copyright-container {
            margin: 10px;
            width: 35%;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            word-wrap: normal;
        }
    
        .logo-container {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 70px;
            margin: 19px 0px 35px 0px;
        }
    }
}