@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding: 2.5rem;
    /* padding-bottom: 2.5rem; */
  }