@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --default-color: white;
    --inverse-color: #e4e4e4;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
}

.content-wrap {
    min-height: 100vh;
    padding: 2.5rem;
}

.content-wrap.inverse {
    background-color: var(--inverse-color);
}