.form-container {
    display: flex;
    flex-direction: column;
    min-height: 680px;
    min-width: 500px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 2em;
}

@media screen and (max-width: 1024px) {
    .form-container {
        height: 940px;
        width: 700px;
    }
}